@page {
  size: A4 portrait;
  margin-top: 1,5cm;
  margin-bottom: 1,8cm;
}

@page:first {
  margin-left: 2cm;
  margin-right: 2cm;
  background-color: #5c5c5c;
  @top-right {
    content: "";
  }
  @bottom-right {
    content: "";
  }
}

@page coverpage {
  margin-left: 2cm;
  margin-right: 2cm;
  background-color: #5c5c5c;
  @top-right {
    content: "";
  }
  @bottom-right {
    content: "";
  }

}


@page:left {
  margin-left: 1,3cm;
  margin-right: 2cm;
  @bottom-left {
    content: counter(page);
    font-size: 8pt;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  @top-left {
    content: string(doctitle);
    font-size: 8pt;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
}

@page:right {
  margin-left: 2cm;
  margin-right: 1,3cm;
  @bottom-right {
    content: counter(page);
    font-size: 8pt;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  @top-right {
    content: string(doctitle);
    font-size: 8pt;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
}

@media print {

  h1 {
    page-break-before: always;
  }

  h1, h2, h3 {
    page-break-after: avoid;
  }

  table, figure {
    page-break-inside: avoid;
  }

}

div.coverpage {
    page: coverpage;
} 

body {
  column-count: 2;
  column-gap: 0,449cm;
  counter-reset: page 0;
}

h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20pt;
  column-span: all;
  text-align: center;
  font-weight: normal;
  string-set: doctitle content();
}

h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  font-style: bold;
  margin-top: 15pt;
  margin-bottom: 15pt;
  line-height: 125%;
  break-inside: avoid-column;
  page-break-inside: avoid;
}

h2.Zweispaltig {
  column-span: all;
}

h3 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: bold;
  margin-top: 2pt;
  margin-bottom: 15pt;
  break-inside: avoid-column;
  page-break-inside: avoid;
}


p {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-size: 9.5pt;
  line-height: 125%;
  text-align: justify;
  orphans: 2;
  widows: 2;
  hyphens: auto;
  margin-top: 2pt;
  margin-bottom: 2pt;
}

td {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-size: 9pt;
  line-height: 100%;
  text-align: left;
  hyphens: auto;
  page-break-inside: avoid;
}

th {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-size: 9.5pt;
  font-style: bold;
  line-height: 105%;
  text-align: left;
  hyphens: auto;
  page-break-inside: avoid;
  page-break-after: avoid;
}

ul {
  margin-left: 10px;
  padding-left: 10px;
}

li {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-size: 9pt;
  line-height: 105%;
  text-align: left;
  hyphens: auto;
}

div.AufgabeEinspaltig {
  background-color: #ffe699;
  border-style: solid;
  border-width: 1pt;
  border-color: #ed7d31;
  border-radius: 10px;
  border-width: 0,5pt;
  padding: 5pt;
  margin-top: 15pt;
  margin-bottom: 15pt;
  page-break-inside: avoid;
}

div.AufgabeZweispaltig {
  background-color: #ffe699;
  border-style: solid;
  border-width: 1pt;
  border-color: #ed7d31;
  border-radius: 10px;
  border-width: 0,5pt;
  padding: 3pt;
  column-span: all;
  margin-top: 15pt;
  margin-bottom: 15pt;
  page-break-inside: avoid;
}

div.Infobox {
  border-style: solid;
  border-width: 1pt;
  border-color: #66cccc;
  padding: 3pt;
  font-size: 9pt;
  line-height: 100%;
  text-align: left;
  page-break-inside: avoid;
  margin-top: 15pt;
  margin-bottom: 15pt;
}

figure {
  margin: auto;
  position: center;
  padding: 5px;
  background: white;
  page-break-inside: avoid;
}

figure.Zweispaltig {
  column-span: all;
}


figcaption {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  padding: 5px;
  text-align: center;
  font-size: 6pt;
  page-break-inside: avoid;
  page-break-before: avoid;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
